*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Super Trunfo P2P/Super Trunfo P2P/nbproject/private/
/Super Trunfo P2P/Super Trunfo P2P/build/
/Super Trunfo P2P/Super Trunfo P2P/dist/